<div class="container">
    <h1>Listado de Tiendas - Prueba METGROUP</h1>
   
    <a href="#" routerLink="/metgroup/create" class="btn btn-success">Crear Nueva Tienda</a>
     
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Nombre de Tienda</th>
        <!-- <th>Cantidad de Productos</th> -->
        <th width="220px" colspan="2">Action</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.name }}</td>
        <!-- <td>{{ post.items }}</td>  -->
        <td>
          <a href="#" [routerLink]="['/metgroup/', post.id, 'view']" class="btn btn-info">Ver Productos</a>
          <a href="#" [routerLink]="['/metgroup/', post.id, 'edit']" class="btn btn-primary">Edit</a>
          <!-- <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>  -->
          <button type="button"  class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>
